{% extends 'base.html.twig' %}

{% block title %}New Product{% endblock %}

{% block body %}
<div class="container mt-5">
    <div class="card shadow-sm">
        <div class="card-header bg-success text-white">
            <h2 class="mb-0">Create New Product</h2>
        </div>

        <div class="card-body">
            {{ include('product/_form.html.twig') }}
        </div>
    </div>
</div>
{% endblock %}